* {
  margin: 0;
  padding: 0;
}

li {
  list-style-type: none;
}

a {
  color: #333;
  text-decoration: none;
}

img {
  width: 100%;
  height: auto;
  display: block;
}

body {
  font-family: 'Roboto Condensed', sans-serif;
}

