* {
    margin: 0;
    padding: 0;
}

ul {
    list-style: none; /* Remove default list style */

}

/* Header Style */
#headerInner {
    width: 960px; /* Set the width of the header */
    margin-left: auto;
    margin-right: auto;
    display: flex; /* Use flexbox for layout (horizontal alignment) */
    justify-content: space-between; /* Space between header elements */
}

nav {
    background-color: #016ba1;
}

nav ul {
    width: 960px; /* Set the width of the navigation bar */
    margin: 0 auto;
    display: flex; /* Use flexbox for layout (horizontal alignment) */ 
    justify-content: space-between; /* Space between navigation items */

}
nav ul li {
    width: 200px; /* Set the width of each navigation item */
}

nav ul a {
    color: #fff; /* Set link color to white */
    font-weight: bold; /* Make the text bold */
    padding: 15px 20px; /* Add padding to the links */
    display: block; /* Make the link a block element */
    text-align: center; /* Center align the text */
    text-decoration: none; /* Remove underline from links */
}

/* Main Section */

main {
    width: 960px; /* Set the width of the main section */
    margin: 0 auto; /* Center align the main section */
}

main #pickup{
    display: flex; /* Use flexbox for layout (horizontal alignment) */
    justify-content: space-between; /* Space between list items */
}

main ul li {
    width: auto; /* Set the width of each list item to auto */
    background-color: #f0f0f0; /* Set background color for list items */
}

#contents {
    display: flex;
    width: 700px;
}

#leftContents {
    font-size: 13px;
}

/* Footer section */
footer {
    background-color: #016ba1; /* Set background color for the footer */
    color: #fff; /* Set text color to white */
    padding: 30px 0; /* Add padding to the footer */
    margin-top: 50px; /* Add margin to the top of the footer */
}

#footerInner {
    width: 960px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
}